#container {
	text-align: center;
}

#board {
	margin-top: 3em;
	display:inline-block;
}

.display-row {
	float: left;
	clear: both;
}

.line {
	float:left;
	background-color: white;
	border: 1px solid black;
}

.line.marked {
	background-color: black;
}

.vertical {
 	width: 8px;
 	height: 48px;
}

.horizontal {
	width: 48px;
	height: 8px;
}

.box {
	float: left;
	width: 50px;
	height: 50px;
	background-color: white;
}

.box.player1 {
	background-color: red;
}

.box.player2 {
	background-color: yellow;
}

.point {
	float: left;
	width: 10px;
	height: 10px;
	background-color: black;
}